<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="assets/logo_trans.png" alt="Logo Transparente">
    </ion-avatar>
    <ion-title>
      RutineCheck!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-datetime
      displayFormat="DD MMMM, YYYY"
      [(ngModel)]="fechaSeleccionada"
      (ionChange)="filtrarTareasPorFecha()">
    </ion-datetime>
  </ion-item>
  <ion-list>
    <ion-reorder-group disabled="false" (ionItemReorder)="reordenarTareas($event)">
      <ion-item *ngFor="let tarea of tareasFiltradas">
        <ion-avatar slot="start">
          <img [src]="'assets/' + tarea.icono" alt="Icono de Tarea">
        </ion-avatar>
        <ion-label>
          <h2>{{ tarea.numero }}. {{ tarea.nombre }}</h2>
          <p class="descripcion">{{ tarea.descripcion }}</p>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="tarea.completada"></ion-checkbox>
        <ion-button slot="end" color="danger" (click)="confirmarEliminarTarea(tarea)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="ion-toolbar2">
    <ion-button class="boton-agregar" shape="round" color="tertiary" (click)="navegarAgregarTarea()">
      Agregar Nueva Tarea
      <ion-icon class="icono-check" slot="end" name="checkbox"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>